<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Pipelines.Loader.RegisterjQuery, Sitecore.Kernel']"
                   type="IocValidation.Pipelines.IoC.ValidateIoC, IocValidation" resolve="true"/>
      </initialize>
    </pipelines>
    <log4net>
      <appender name="IoCLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/IoC.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
      </appender>
        <logger name="IocValidation.Pipelines.IoC.IoCLogger" additivity="false">
          <level value="DEBUG"/>
          <appender-ref ref="IoCLogFileAppender"/>
        </logger>
    </log4net>
    <settings>
      <setting name="ValidateIoC.Enabled" value="true"/>
      <setting name="ValidateIoC.HaltApplication" value="false"/>
      <setting name="ValidateIoC.IgnoredExceptions" value="Glass.Mapper.Sc.IGlassHtml"/>
    </settings>
    <services>
      <configurator type="IocValidation.Pipelines.IoC.IoCValidatorDependenciesInstaller, IocValidation" />
    </services>
  </sitecore>
</configuration>